body {
    box-sizing: border-box;
    margin: 0;
    background: #F3F5FC;
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}


.main-home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
   

}

.logo {
    padding-top: 1rem;
    width: 7.5rem;
    height: 3rem;
}

.input-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 0.5rem;
    height: 95vh;
    flex-grow: 4;
}

.texto-a-desencriptar {
    width: 100%;
    font-size: 2rem;
    line-height: 150%;
    background: #F3F5FC;
    border: 0;
    outline: none;
    color: #0A3871;
}
::placeholder{color: #0A3871;}

.botonera {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

p.botonera {
    font-size: 0.7rem;
    font-style: italic;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 1.4rem;
}

#encriptar-boton {
    background: #0A3871;
    border: 1px solid #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
    color: #FFFFFF;
}

#desencriptar-boton {
    border: 1px solid #0A3871;
    flex: none;
    order: 1;
    flex-grow: 1;
}



.rectangle {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 35%;
    width: 100%;
    margin-right: 2rem;
    flex-grow: 2;
    height: calc(100% - 10rem);
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.munheco {
    width: 100%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 3;
    object-fit: scale-down;
}

.texto-resultado {
    display: none;
    resize:both;
    max-width: fit-content; 
    width: 100%;
    border: 0;
    outline: none;
    color: #0A3871;
    font-size: 1.5rem;
    line-height: 150%;
    padding: 1rem;
}

.ningun-mensaje {
    flex: none;
    order: 1;
    flex-grow: 1;
    padding: 5px;
}

#copiar {
    border: 1px solid #0A3871;
    display: none;
}

@media screen and (max-width: 992px) {
    body{
        flex-direction: column;
    }
    header{
        margin-bottom: 1.5rem;
    }
   
    .main-home {
      flex-direction: column;
        
    }
    .botonera{
     
        align-items: center;
       
    }
    .rectangle{
        max-width: 90%;
        margin: 2rem;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }
    .munheco{
        display: none;
    }
    .ningun-mensaje{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 100%;
        padding: 1rem 1.5rem;
      }
    textarea.texto-resultado{
        resize:vertical; 
        max-height: fit-content;
        margin: 2rem 0;
        padding-left: 2rem;
        height: inherit;
    }
}


@media screen and (max-width: 375px){
    .botones{
        flex-direction: column;
    }
}